@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Peyda";
  src: url("./assets/font/PeydaFaNum-Regular.ttf") format("truetype");
  font-weight: normal; /* وزن پیش فرض فونت */
}

@font-face {
  font-family: "Peyda";
  src: url("./assets/font/PeydaFaNum-Light.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Peyda";
  src: url("./assets/font/PeydaFaNum-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Peyda";
  src: url("./assets/font/PeydaFaNum-Medium.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Peyda";
  src: url("./assets/font/PeydaFaNum-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Peyda";
  src: url("./assets/font/PeydaFaNum-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Peyda";
  src: url("./assets/font/PeydaFaNum-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Peyda";
  src: url("./assets/font/PeydaFaNum-Black.ttf") format("truetype");
  font-weight: 900;
}

html {
  font-family: Peyda;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #a7d397;
  border: 0px none #ffffff;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a7d397;
}
::-webkit-scrollbar-thumb:active {
  background: #74cf6e;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border: 0px none #ffffff;
  border-radius: 39px;
}
::-webkit-scrollbar-track:hover {
  background: #f5f5f5;
}
::-webkit-scrollbar-track:active {
  background: #f5f5f5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
